html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: transparent;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: none;
  user-select: none;
  text-rendering: auto;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

aside {
	position: absolute;
	top: 50%;
	left: 20px;
	width: 50px;
	height: 500px;
	display: flex;
	border-radius: 5px;
	align-items: center;
	flex-direction: column;
	transform: translate(0,-50%);
}

aside .subcategory {
	border-radius: 5px;
	margin-bottom: 5px;
	width: 100%;padding: 5px;
	background-color: rgba(15,15,15,.75);
}

aside .subcategory .option {
	width: 40px;
	height: 40px;
	display: flex;
	color: #fff;
	font-size: 12px;
	border-radius: 5px;
	margin-bottom: 5px;
	align-items: center;
	justify-content: center;
	background-color: rgba(15,15,15,.5);
}

aside .subcategory .option:last-child {
	margin-bottom: 0;
}

aside .category {
	width: 40px;
	height: 40px;
	display: flex;
	border-radius: 5px;
	align-items: center;
	margin-bottom: 5px;
	justify-content: center;
	background-color: rgba(15,15,15,.5);
	border: 2px solid rgba(255, 255, 255, 0.11);
}

aside .category:last-child {
	margin-bottom: 0;
}

aside .category img {
	max-width: 70%;
}

main {
	position: absolute;
	top: 50%;
	left: 80px;
	width: 330px;
	height: 500px;
	display: flex;
	padding: 5px 10px;
	border-radius: 5px;
	flex-direction: column;
	transform: translate(0,-50%);
	background: rgba(15,15,15,.75);
	border: 3px solid rgba(255, 255, 255, 0.11);
}

main header {
	display: flex;
	color: #fff;
	padding: 5px 0;
	font-size: 12px;
	font-weight: bold;
	align-items: center;
	letter-spacing: 1px;
	text-transform: uppercase;
	justify-content: space-between;
}

b {
	color: #848CEB;
	font-weight: 500;
}

main header .cams {
	display: flex;
	align-items: center;
}

main header .cam {
	width: 30px;
	height: 30px;
	display: flex;
	color: #fff;
	font-size: 12px;
	margin-left: 5px;
	border-radius: 2px;
	align-items: center;
	justify-content: center;
	background-color: rgba(15,15,15,.5);
}

main section {
	width: 100%;
	display: grid;
	overflow: auto;
	grid-gap: 5px;
	margin-top: 5px;
	max-height: 420px;
	overflow-x: hidden;
	grid-template-columns: repeat(3, 100px);
}

main section .item {
	position: relative;
	width: 100px;
	height: 100px;
	opacity: .5;
	filter: grayscale(100%);
	border-radius: 5px;
	transition: all .2s;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgba(15,15,15,.5);
	border: 2px solid rgba(255, 255, 255, 0.11);
}

main section .item .circle {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 17px;
	height: 17px;
	color: #fff;
	display: flex;
	font-size: 10px;
	font-weight: 600;
	align-items: center;
	border-radius: 100%;
	justify-content: center;
	background-color: #848CEB;
}

main p {
	opacity: .5;
	width: 100%;
	color: #fff;
	font-size: 9px;
	margin-top: 5px;
	font-weight: 500;
	text-align: right;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}

main p i {
	margin-left: 5px;
	color: #848CEB;
}

.active-item,
.item:hover {
	opacity: 1 !important;
	filter: grayscale(0%) !important;
}

.selected-cam, 
.active, 
.cam:hover,
.arrow:hover,.category:hover {
	background-color: #848CEB !important;
}

.btns {
	position: absolute;
	left: 0;
	width: 100%;
	bottom: -65px;
	display: flex;
	align-items: center;
}

.btns button {
	opacity: .5;
	width: 50%;
	display: flex;
	height: 55px;
	color: #fff;
	padding: 0 15px;
	border-radius: 5px;
	flex-direction: column;
	justify-content: center;
	text-transform: uppercase;
	transition: all .2s;
	background-color: rgba(0, 0, 0, 0.5);
	border: 2px solid rgba(255, 255, 255, 0.11);
}

.btns button:hover {
	opacity: 1;
}

.btns button span {
	font-size: 12px;
	font-weight: 600;
	letter-spacing: .5px;
}

.btns button small {
	opacity: .5;
	font-size: 8px;
	letter-spacing: 1px;
}

.btns button:last-child {
	background-color: rgba(0, 0, 0, 0.5);
	transition: all .2s;
	margin-left: 5px;
}

.btns button:last-child:hover {
	opacity: 1;
}

::-webkit-scrollbar {width: 0;}

input[type=number]::-webkit-inner-spin-button { 
	-webkit-appearance: none;
}

input[type=number] { 
	-moz-appearance: textfield;
	appearance: textfield;
}

footer {
  position: absolute;
  left: 50%;
  bottom: 50px;
  display: flex;
  color: #fff;
  font-size: 10px;
  align-items: center;
  text-transform: uppercase;
  transform: translate(-50%,0);
}

footer button {
  opacity: .5;
  width: 150px;
  padding: 10px;
  color: #fff;
	margin: 0 10px;
  font-weight: 500;
  border-radius: 3px;
  transition: all .3s;
  background: #848CEB;
  text-transform: uppercase;
}

footer .hotkey {
	position: relative;
	margin: 0 10px;
	color: #fff;
	font-size: 8px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

footer .hotkey span {
	letter-spacing: 2px;
	color: #848CEB;
	font-weight: 600;
}

footer .hotkey::before {
	content: '';
	position: absolute;
	top: 50%;
	width: 5px;
	height: 5px;
	border-radius: 100%;
	background-color: #fff;
	transform: translate(0,-50%);
}

.le::before {
	left: -12px;
}

footer .ri::before {
	right: -12px;
}

footer button i {
  margin-right: 10px;
}

footer button:hover {
  opacity: 1;
}

footer button:active {
  transform: scale(1.1);
}

::-webkit-scrollbar {
	width: 0px;
}