html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: transparent;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: none;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

notify {
  display: flex;
  position: absolute;
  flex-direction: column;
}

.notify {
  position: relative;
  display: flex;
  font-size: 25px;
  margin-top: 5px;
  border-radius: 5px;
  padding: 15px 15px;
  align-items: center;
  transition: all .2s;
  animation: fadeIn .5s ease-in;
  background: rgba(17, 17, 17, 0.7);
  border: 2px solid rgba(255, 255, 255, 0.11);
}

.notify::before {
  content: '';
  position: absolute;
  top: 50%;
  width: 2px;
  left: -1px;
  height: 70%;
  border-radius: 30px;
  background-color: #848CEB;
  transform: translate(0,-50%);
}

.notify img {
  max-width: 30px;
  margin-right: 10px;
  border-radius: 100%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.75);
}

.notify .text {
  display: flex;
  color: #fff;
  flex-direction: column;
  text-transform: uppercase;
}

.notify .text span {
  font-size: 10.5px;
  font-weight: 600;
  margin-bottom: 3px;
  letter-spacing: 1px;
}

.notify .text p {
  opacity: .5;
  font-size: 9.5px;
  max-width: 280px;
  letter-spacing: .5px;
}

.notify .bar {
  position: absolute;
  right: 15px;
  bottom: 7px;
  width: 40px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.11);
}

.notify .bar .fill {
  width: 100%;
  height: 100%;
  background-color: #848CEB;
}

/*
==============================================
  Containers
==============================================
*/

@keyframes fadeIn {
  0% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

.normal {
  left: 20px;
  top: 50%;
  align-items: flex-start;
  transform: translate(0,-50%);
}

.bottom {
  left: 50%;
  bottom: 70px;
  align-items: center;
  transform: translate(-50%,0);
}

.left {
  position: absolute;
  top: 70px;
  right: 20px;
  align-items: flex-end;
}

.center {
  left: 50%;
  top: 70px;
  align-items: center;
  transform: translate(-50%,0);
}

#default img {
  display: none !important;
}